.book-details-container {
    margin: 24px;
}

.book-details-card mat-card-title {
    padding-top: 10px;
    padding-left: 15px;
}

.book-details-card mat-card-subtitle {
    padding-left: 15px;
}

.book-details-card mat-card-actions {
    display: flex;
    gap: 10px;
}

